<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card p-4">
                <form action="" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                    <!-- {{registrationForm.value|json}} -->
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control" formControlName="user" [classList]="">
                        <!-- <small *ngIf="registrationForm.get('user')?.errors?.['minlength']" class="text-danger">User Name must be 3 characters</small> -->
                        <div *ngIf="user?.invalid&& user?.touched">
                            <small *ngIf="user?.errors?.['required']" class="text-danger">{{nameRequiredError}}</small>
                            <small *ngIf="user?.errors?.['minlength']"
                                class="text-danger">{{nameMinLengthError}}</small><br>
                            <small *ngIf="user?.hasError('pattern')" class="text-danger">{{nameCharacterError}}</small>
                            <!-- <small *ngIf="user?.errors?.['forbiddenName']" class="text-danger">{{user?.errors?.['forbiddenName'].value}}User Name not allowed</small> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="form-control" formControlName="password">
                        <div *ngIf="password?.invalid&& password?.touched">
                            <small *ngIf="password?.errors?.['required']"
                                class="text-danger">{{passwordRequiredError}}</small>
                            <small *ngIf="password?.errors?.['minlength']"
                                class="text-danger">{{passwordMinLengthError}}</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Phone Number</label>
                        <input type="text" class="form-control" formControlName="phoneNumber">
                        <div *ngIf="phoneNumber?.invalid&& phoneNumber?.touched">
                            <small *ngIf="phoneNumber?.errors?.['required']"
                                class="text-danger">{{phoneNumberValidError}}</small>
                            <small *ngIf="phoneNumber?.hasError('pattern')"
                                class="text-danger">{{phoneNumberMinLengthError}}</small>
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" class="form-control" formControlName="email" ngModel="email" (input)="eV.validationEmail("email")">
                            <div *ngIf="email?.invalid&& email?.touched">
                                <!-- <small *ngIf="email?.errors?.['required']" class="text-danger">{{emailRequiredError}}</small> -->
                                <small class="text-danger"></small>
                                <small *ngIf="email?.errors?.['email']"
                                    class="text-danger">{{emailValidError}}</small><br>

                            </div>
                        </div>
                        <button class="btn btn-success mt-3 w-100" type="submit"
                            [disabled]="!registrationForm.valid">Submit</button>
                        <!-- <button class="btn btn-secondary mx-3 mt-3" type="button" (click)="loadApi()">Load Api Data</button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>